/* Font implementato, usato principalmente nella navbar */
@font-face {
  font-family: ganesh;
  src: url(../assets/font/saira/regular.ttf);
}

body, html 
{
  font-family:'Cambria', 'Cochin', 'Georgia', 'Times', 'Times New Roman', serif;
}