/* Metodi per i link di modifica */
.d {
font-family: "ganesh", sans-serif;
cursor: pointer;
}

.d:hover {
    color: #8f281d;
}

/* The Modal (background) */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1000; 
    padding-top: 200px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: whitesmoke;
    margin: auto;
    padding: 0;
    border: 1px solid whitesmoke;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.5s;
    animation-name: animatetop;
    animation-duration: 0.5s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: whitesmoke;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 6px 16px;
    background-color: #da4112;
    color: whitesmoke;
}

.modal-body {
    padding: 2px 16px;
}

.modal-footer {
    padding: 6px 16px;
    background-color: #da4112;
    color: whitesmoke;
}

/* Metodo per il testo di modifica */
.modifica{
    font-size: 1.1rem; 
    font-style: italic;
}