.link-effect-2 {
    overflow: hidden;
  }
  
  .link-effect-2 a {
    overflow: hidden;
    padding: 20px;
    height: 1em;
    color: #797878;
    font-weight: 400;
  }

  .link-effect-2 a span {
    position: relative;
    display: inline-block;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }

  .link-effect-2 a span::before {
    color: white;
    position: absolute;
    top: 100%;
    content: attr(data-hover);
    font-weight: 800;
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  
  .link-effect-2 a:hover span {
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }