/* Contenitore navbar */
.navbar-container {
    position: sticky;
    top: 0;
    background-color: rgb(143, 40, 29);
    overflow: hidden;
    /* padding-left: 20px;
    padding-right: 20px; */
    margin: 0;
    max-height: 75px;
    
}

/* Parte destra */
.navbar-right-section {
    float: right;
    /* margin-right: 2%;
    margin-left: 2%; */
}

/* Singolo bottone */
.navbar-btn {
    float: left;
    text-align: center;
    padding: 15px;
    /* margin-right: 2%;
    margin-left: 2%; */
    line-height: 50px;
    color: cornsilk;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 15px;
    transition: .3s ease;
}

/* Indicatore selezione bottone */
.navbar-btn:hover {
    background-color: teal;
}