.settings-container *
{
    box-sizing: border-box;
}

.tab 
{
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 30%;
    min-height: 380px;
    display: flex;
    flex-direction: column;
}

.tab button
{
    display: block;
    background-color: inherit;
    color: black;
    width: 100%;
    flex: 1;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.5s;
}

.tab button:hover 
{
    background-color: #ddd;
}

.tab button.active 
{
    background-color: #ccc;
}

.tabcontent 
{
    float: left;
    /* padding: 15px 15px; */
    border: 1px solid #ccc;
    width: 70%;
    border-left: none;
    height: 380px;
    display: grid;
}