/* .carousel-item-hidden
{
    display: none;
}

.carousel-item-active
{
    display: block;
}
 */
.dot 
{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: cornsilk;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.5s ease;
}

.splash-carousel
{
    position: relative;
}

.dot:hover 
{
    background-color: #717171;
}