/* .carousel-item-hidden
{
    display: none;
}

.carousel-item-active
{
    display: block;
}
 */
.dot 
{
    cursor: pointer;
    height: 10px;
    width: 150px;
    margin: 0 15px;
    background-color: cornsilk;
    display: inline-block;
    transition: background-color 0.5s ease;
}

.splash-carousel
{
    position: relative;
}

.dot:hover 
{
    background-color: #da4112;
}

.dot-active
{
    background-color: #da4112;
}