.dot 
{
    cursor: pointer;
    height: 10px;
    width: 150px;
    margin: 0 15px;
    background-color: cornsilk;
    display: inline-block;
    transition: background-color 0.5s ease;
}

.splash-carousel
{
    position: relative;
}

/* Hover per i rettangoli navigazione carosello */
.dot:hover 
{
    background-color: #da4112;
}

/* Modificatore "active" per i rettangoli navigazione carosello */
.dot-active
{
    background-color: #da4112;
}

/* Attributi per il posizionamento dei rettangoli navigazione carosello */
.dot-position
{
    text-align: center; 
    position: absolute; 
    bottom: 5%; 
    width: 100%
}