#wrapper {
	display: block;
	margin-bottom: 100px;
}

.button {
	text-decoration: none;
	color: red;
	font-weight: bold;
	font-size: 20px;
	position: relative;
  padding: 1px;
  font-style: italic;
  cursor: pointer;
  font-family: "ganesh", sans-serif;
}

a.button.five:after {
	content: "";
	position: absolute;
	bottom: 0;
	right: 0;

	width: 0%;
	height: 100%;

	border-bottom: 2px solid red;

	transition: width 0.5s ease;
}

a.button.five:hover:after {
	left: 0;
	width: 100%;
	transition: width 0.5s ease;
}