.footer-container {
    position: relative;
    bottom: 0;
    width: 100%;
    min-height: 150px;
    background-color: rgb(143, 40, 29);    
}

.footer-bg {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer-content {
    font-size: 30px;
    color: white;
    padding: 25px;
    letter-spacing: 25px;

}