.card {
    background-color: cornsilk;
    display: block;
    min-height: 10px;
    margin: 0;
    padding: 20px;
    margin-top: 10px;
}

.card-dummy-img {
    background-color: gray;
    display: block;
    height: 100px;
    border-color: cornsilk;
    border-width: 10px;
    text-align: center;
    padding: 1%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 25px;
}

.card h2, .card h1 {
    line-height: 2rem;
    padding: 15px 0 5px 15px;
}

.card p {
    padding-bottom: 10px;
    padding-left: 25px;
}