/*aggiustamento delle dimensioni di tutti gli elementi interni*/
.blog-container * {
    box-sizing: border-box;    
}

/*stile del container del blog*/
.blog-container {
    margin: 0;
    padding: 30px;
    /*background-color: rgb(255, 57, 57);*/
    overflow: auto;
}

/*la pagina è suddivisa in due colonne: destra e sinistra*/
.blog-left-col {
    float: left;
    width: 75%;
    min-height: 20%;
}

.blog-right-col {
    float: right;
    width: 25%;
    padding-left: 20px;
    min-height: 20%;
}